.lkbtn {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
  text-align: center;
}

.lkbtn:hover {
  opacity: 0.8;
}

.lkbtn.danger {
  background-color: var(--danger);
  border-color: var(--danger);
}

.lkbtn.success {
  background-color: var(--success);
  border-color: var(--success);
}

.lkbtn.circle {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.lkbtn.plain {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--border);
}

.lkbtn+.lkbtn {
  margin-left: 0.5rem;
}