@import "./button.css";

body,
html {
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
  --primary: #409EFF;
  --white: #ffffff;
  --bg: #eee;
  --black: #000000;
  --border: #aaa;
  --danger: #f56c6c;
  --success: #67c23a;
}